.board-block {
  border-bottom: 5px solid var(--primary-color);
  @media screen and (max-width: 1024px){
    > .row {
      align-items: center;
    }
  }
  .board-side {
    #board {
      display: flex;
      flex-flow: column;
      align-self: stretch;
      justify-content: space-between;

      * {
        font-size: 2.7rem;
        font-size: 3vw;
        line-height: 1.5;

        @media screen and (max-width: 700px){
          font-size: 20px;
        }
      }
      .board-letter {
        flex: 0 0 1.25em !important;
        font-weight: bold;
      }
      .ball {
        color: #3c3c3c;
      
        button {
          font-family: inherit;
          white-space: nowrap;
          font-size: inherit;
          border-radius: unset;
          padding: unset;
          margin: unset;
          border: unset;
          color: inherit;
          background-color: inherit;
          transition: inherit;
          &:hover {
            background: inherit;
            color: inherit;
          }  
          &:focus {
            outline: none;
          }
        }
        &.called {
          color: var(--white);
        }
        &.active {
          animation: blink 1s infinite;
          color:  var(--white);
        }
      }
    }
  }
  /* Gameplay Controls */
  .gameplay-controls {
    text-align: center;
    margin-top: var(--size-xxlg);
    button {
      width: 90%;
      display: block;
      margin: 1rem auto;
    }
  }
}
