.call-side {
  width: 220px;
  margin: 0 auto;
}
/* Ball Display */
.ball-display {
  width: 100%;
  min-width: 160px;
  max-width: 180px;
  display: flex;
  border-radius: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: inset 0.5rem 0.5rem 1.5rem 0.25rem rgba(255, 255, 255, 0.3),
              inset -0.25rem -0.25rem 1.5rem 0.5rem rgba(0, 0, 0, 0.4);

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .content {
    text-align: center;
    border-radius: 100%;
    background: white;
    position: relative;
    min-width: 60px;
    min-width: 3vw;
    padding: 28%;
    box-shadow: inset -0.5rem -0.5rem 2rem 0 rgba(0, 0, 0, 0.16), 0 0 0 0.25rem white;
    background: radial-gradient(circle at 20% 20%, white, #efefef);
  
    .ball-content {
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-flex;
      flex-direction: column;
      .ball-letter, 
      .ball-number {
        line-height: 1;
        display: block;
        width: 100%;
      }
      .ball-letter {
        font-size: 2rem;
        font-weight: bold;
      }
      .ball-number {
        font-size: 3.25rem;
      }
    }

    img {
      padding: 0.25rem;
      max-width: 100%;
    }
  }
  
  &.blue {
    background: radial-gradient(circle at 20% 20%, #0000FF, #0000ad);
    .content {
      border: 0.15rem solid #0000FF;
    }
  }

  &.red {
    background: radial-gradient(circle at 20% 20%, #FF0000, #910000);
    .content {
      border: 0.15rem solid #FF0000;
    }
  }

  &.white {
    background: radial-gradient(circle at 20% 20%,  var(--white), #b6b6b6);
    .content {
      border: 0.15rem solid #FF0000;
    }
  }

  &.green {
    background: radial-gradient(circle at 20% 20%, #008000, #004a00);
    .content {
      border: 0.15rem solid #008000;
    }
  }

  &.yellow {
    background: radial-gradient(circle at 20% 20%, #ffe52a, #f7bd00);
    .content {
      border: 0.15rem solid #f7bd00;
    }
  }
}
/* Previous Calls Display */
.previous-calls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: var(--size-xlg) auto 0;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex: 0 0 30px;
    margin: 0 4px;
    border-radius: 100%;
    height: 30px;
    padding: 7px;
    box-sizing: content-box;
    
    > span {
      color: var(--ball-color-text);
      background-color: var(--ball-color-inner);
      width: 100%;
      height: 100%;
      border-radius: 100%;
      span {
        display: block;
      }
    }
    .call-letter {
      font-size: 10px;
      font-weight: bold;
      line-height: 1;
    }
    .call-number {
      font-weight: normal;
      line-height: 1;
    }

    &.blue {
      background-color: var(--ball-color-blue);
      > span {
        border: 1px solid var(--ball-color-blue);
      }
    }

    &.red {
      background-color: var(--ball-color-red);
      > span {
        border: 1px solid var(--ball-color-red);
      }
    }

    &.white {
      background-color: var(--ball-color-white);
      > span {
        border: 1px solid var(--ball-color-red);
      }
    }

    &.green {
      background-color: var(--ball-color-green);
      > span {
        border: 1px solid var(--ball-color-green);
      }
    }

    &.yellow {
      background-color: var(--ball-color-yellow);
      > span {
        border: 1px solid var(--ball-color-yellow);
      }
    }
  }
}
.modal .previous-calls {
  max-width: 300px;
  div {
    flex: 0 0 35px;
    height: 35px;
    margin: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
    > span {
      padding: 2px 0;
    }
  }
}