
.pattern-side {
  width: 220px;
  margin: 0 auto;
  /* Total Calls + Current Call */
  .total-call-display,
  .previous-call-display {
    margin: 0 8px;
  }
  
  .callNumber {
    font-family: var(--digital-font);
    width: 100%;
    max-width: 75px;
    font-size: 50px;
    text-align: center;
    color: red;
    margin: 0 auto 10px;

    span {
      background: var(--near-black);
      display: inline-block;
      text-align: center;
      width: 45%;
      padding: 2.5%;
    }

    &-text {
      font-family: var(--condensed-font);
      font-size: 12px;
    }
  }

  /* Pattern Display */
  #bingopattern {
    display: flex;
    margin: 0 auto;
    width: 160px;

    .row {
      width: calc(160px/5);
      
      &:nth-child(1) .col:first-child{
        span {
          transform: rotate(-10deg);
        }
      }
      &:nth-child(2) .col:first-child{
        span {
          margin-top: -.5rem;
          transform: rotate(-5deg);
        }
      }
      &:nth-child(3) .col:first-child{
        span {
          margin-top: -.75rem;
        }
      }
      &:nth-child(4) .col:first-child{
        span {
          margin-top: -.5rem;
          transform: rotate(5deg);
        }
      }
      &:nth-child(5) .col:first-child{
        span {
          transform: rotate(10deg);
        }
      }
      .col {
        position: relative;
        
        // Letters along the top
        &:first-child {
          line-height: 1.5;
          height: 35px;
          span {
            font-size: 20px;
            font-family: var(--body-font);
            font-weight: 800;
          }
        }

        // Pattern numbers
        &:not(:first-child) {
          height: calc(160px/5);
          background: var(--pale-gray);
          border: 1px solid  var(--white);

          span {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100%;
            margin: 0 auto;
  
            &.free-space {
              font-size: 10px;
              line-height: 1;
              margin: 5px 0;
              text-align: center;
              text-transform: uppercase;
              color: var(--med-gray);
            }
          }

          &:hover {
            cursor: pointer;
          }

          &.selected {
            span {
              background-color:#c70600;
              margin: 5px;
              &.free-space {
                overflow: hidden;
                color: #c70600;
              }
            }
          }
        }
      }
    }
  }

  /* Pattern Select */
  .pattern-select {
    width: 100%;
    display: block;
    border: 1px solid #fff; 
    *{
      cursor: pointer;
    }
    div {
      &[class$="-ValueContainer"] {
        cursor: text !important;
      }
      &[class$="-singleValue"] {
        color: #888888;
      }
      &[class$="-Input"] {
        color: white;
      }
      &[class$="-control"] {
        background: #222;
        border: none;
        color: #efefef;
        border-radius: 0;
      }
      &[class$="-menu"] * {
        color:#222222;
      }
    }
  }

}