
/* Links & Buttons */
a {
  text-decoration: none;
  color: var(--primary-link-color);
  transition: all ease .25s;
  &:hover {
    color: var(--primary-link-hover);
  }
}
// links that are within a paragraph
p > a:not(.plain){
  border-bottom: var(--primary-link-border);
}

.light-links {
  .button {
    border: var(--secondary-button-border);
    padding: 0.25em 1em;
    &:hover {
      border-color: var(--secondary-button-hover-border);
    }
  }

  a {
    color: var(--secondary-link-color);
    &:hover {
      color: var(--secondary-link-hover);
    }
  }
}

button {
  white-space: nowrap;
  font-size: 1rem;
  font-family: var(--condensed-font);
  text-transform: uppercase;
  color: var(--standard-button-text);
  background-color: var(--standard-button-background);
  border: var(--standard-button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--standard-button-shadow);
  padding: 0.55rem 1rem;
  margin: 0.25rem;
  transition: var(--ease-transition);

  &:hover {
    cursor: pointer;
    color: var(--standard-button-hover-text);
    background-color: var(--standard-button-hover-background);
    border: var(--standard-button-hover-border);
    box-shadow: var(--standard-button-hover-shadow);
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    color: var(--standard-button-disabled-text);
    border: var(--standard-button-disabled-border);
    background-color: var(--standard-button-disabled-background);
    box-shadow: none !important;
  }

  &.text-only {
    font-size: inherit;
    border: none;
    padding: 0;
    color: var(--standard-button-text-only);
    background:transparent;
    box-shadow: none !important;
    &:hover {
      color: var(--standard-button-text-only-hover);
      box-shadow: none !important;
    }
    &.primary{
      color: var(--primary-button-text-only);
      &:hover {
        color: var(--primary-button-text-only-hover);
      }
    }
    &.secondary{
      color: var(--secondary-button-text-only);
      &:hover {
        color: var(--secondary-button-text-only-hover);
      }
    }
  }

  &.primary-button {
    background-color: var(--primary-button-background);
    border: var(--primary-button-border);
    color: var(--primary-button-text);
    box-shadow: var(--primary-button-shadow);
    &:hover {
      background-color: var(--primary-button-hover-background);
      border: var(--primary-button-hover-border);
      color: var(--primary-button-hover-text);
      box-shadow: var(--primary-button-hover-shadow);
    }
    &[disabled],
    &[disabled]:hover {
      background-color: var(--primary-button-disabled-background);
      border: var(--primary-button-disabled-border);
      color: var(--primary-button-disabled-text);
    }
  }

  &.secondary-button {
    background-color: var(--secondary-button-background);
    border: var(--secondary-button-border);
    color: var(--secondary-button-text);
    box-shadow: var(--secondary-button-shadow);
    &:hover {
      background-color: var(--secondary-button-hover-background);
      border: var(--secondary-button-hover-border);
      color: var(--secondary-button-hover-text);
      box-shadow: var(--secondary-button-hover-shadow);
    }
    &[disabled],
    &[disabled]:hover {
      cursor: not-allowed;
      color: var(--primary-button-disabled-text);
      border: var(--primary-button-disabled-border);
      background-color: var(--primary-button-disabled-background);
    }
  }
}