/* Settings Panel */
.settings-component {
  .settings-button {
    position: absolute;
    right: 2rem;
    top: 1.95rem;
  }
  .gameSettings {
    * {
      transition: var(--ease-transition);
    }

    h3, h6, h4 {
      color: var(--dk-gray-text);
      line-height: 1.5;
    }

    .settings-panel {
      width: 100%;
      background: #f8f8f8;
      padding: 1.5rem 2rem 2rem;
      border-left: 5px solid var(--primary-color);
      bottom: 0;
      height: 100vh;
      overflow-y: scroll;
      position: fixed;
      right: -100vw;
      top: 0;
      width: 400px;
      z-index: 2;
    }

    .backdrop {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      overflow: hidden;
      left: -100vw;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.7);
      z-index: 1;
    }

    &.open {
      .settings-panel {
        right: 0;
      }

      .backdrop {
        left: 0;
      }

      .settings-button {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .settings-button {
    border: none;
    margin: 0;
    padding: 0;

    #Settings_Icon,
    .settings-icon {
      fill: var(--primary-color);
      fill-rule: evenodd;
      height: 1.5rem;
      width: auto;
      transition: var(--ease-transition);
      &:hover {
        fill: var(--secondary-color);
      }
    }

    &:hover {
      background: transparent;
    }
  }
}

/* Game Settings */
.game-settings {
  span {
    line-height: 2.5;
  }
  .select-input {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #fff;
  }
}