/* Pattern */
.pattern-list {
  button {
    float: right;
  }
  > .row {
    justify-content: flex-start;
    > .pattern-col {
      flex-grow: 0;
    }
  }

  .pattern-block {
    border: 3px dashed var(--light-gray);
    border-radius: 5px;
    white-space: nowrap;
    padding: 0 12px 12px;

    section {
      text-align: center;
    }

    h5 {
      padding: 0;
      margin: 10px 0 0;
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
      display: block;
      color: var(--foreground);
      font-weight: 500;
    }
    .pattern-display .row .col:not(.pattern-letter).selected span.free-space {
      border-radius: 100%;
    }
  }
}

@page {
  orientation: landscape !important;
  margin: 0.5in 0.3in 0.5in 0.3in !important;
}

@media print {
  body,
  html,
  section,
  main {
    background: white;
    border: none !important;
    border-top: none !important;
  }
  header {
    text-align: center;
    .home-link {
      border: none !important;
    }
  }
  footer,
  header .header-icon {
    display: none;
  }
  h1,
  h2 {
    display: none;
  }
  .pattern-col {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    -webkit-break-inside: avoid !important;
    * {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }
  h5 {
    font-size: var(--small-font-size);
  }
  .pattern-list > .row {
    display: table !important;
    .pattern-col.col {
      display: inline-block !important;
      margin: 0;
      width: 145px;
      text-align: center;
      .pattern-block {
        padding: 0 10px;
        display: block;
        margin: 0 auto;
        .pattern-display {
          margin-bottom: 10px;
        }
        .row {
          width: 20px;
          .col {
            height: 20px !important;
            &.pattern-letter {
              line-height: 1.5;
              height: 25px;
              span {
                font-size: 14px;
              }
            }
            &.selected {
              span {
                margin: 2px;
                border-radius: 100%;
              }
            }
            .span {
              &.free-space {
                font-size: 10px !important;
                line-height: 15px;
              }
            }
          }
        }
      }
    }
  }
}
