.card-block .card .col {
  .card-number, .card-letter {
    padding: 0;
  }
  .freespace {
    text-align: center;
    display: block;
    padding: 0.3rem 0;
  }
  .space {
    display: block;
    margin: 0.1em;
    padding: 0.317em 0.2em;
    text-align: center;
    &.daubed {
      background-color: rgb(243, 255, 153);
      border-radius: 100%;
      &.red { background-color: var(--red); color: var(--white)};
      &.orange { background-color: var(--orange); color: var(--black)};
      &.yellow { background-color: var(--yellow); color: var(--black)};
      &.green { background-color: var(--green); color: var(--white)};
      &.blue { background-color: var(--blue); color: var(--white)};
      &.purple { background-color: var(--purple); color: var(--white)};
      &.aqua { background-color: var(--aqua); color: var(--black)};
      &.pink { background-color: var(--pink); color: var(--black)};
      &.brown { background-color: var(--brown); color: var(--white)};
    }
  }
  button {
    padding: 0;
    font-size: inherit;
    color: #444444;
    line-height: 1;
    background: transparent;
    border: none;
    margin: 0;
    box-shadow: none;
    display: block;
    text-align: center;
    width: 100%;
  }
}