@media print {
  // ::-webkit-scrollbar {
  //   display: none;
  // }

  div {
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-break-inside: avoid;
  }
  header,
  footer,
  .no-print {
    display: none !important;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    background-color: white !important;
    overflow: visible !important;
  }
  .card-block {
    margin: 1rem auto;
    .break {
      page-break-inside: auto;
      break-inside: auto;
      -webkit-break-inside: auto;
      height: 20px;
    }
  }
  .print-bw {
    filter: Gray();
    filter: url("#grayscale");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .print-two {
    .card-block {
      --space-size: 85px;
    }
  }
  .print-four {
    .card-block {
      --space-size: 60px;
    }
  }
  .print-six {
    .card-block {
      --space-size: 50px;
    }
  }
}
