// Fonts -----------------------------------
@font-face {
  font-family: "Digital";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/ZCOOLQingKeHuangYou-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Light.woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Regular.woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Medium.woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Bold.woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Black.woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/RobotoCondensed-Light.woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/RobotoCondensed-Regular.woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/RobotoCondensed-Bold.woff");
}

// Typography -------------------------------
body,
html {
  font-family: var(--body-font);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin-top: 0;
  margin-bottom: 12px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}

.dark-text {
  color: var(--dark-gray);
}

.uppercase-text-small {
  font-weight: normal;
  font-family: var(--condensed-font);
  font-size: var(--small-font-size);
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  color: var(--off-white);
}

footer {
  font-size: var(--small-font-size);
}

// Typography Utility Classes ------------------------
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}

.medium-text {
  font-size: var(--size-xlg);
  line-height: 1.5;
}

.small-text,
.small-text * {
  font-size: 0.9rem !important;
  line-height: 1.5;
}

.x-small-text,
.x-small-text * {
  font-size: 0.8rem !important;
  line-height: 1.25;
}

.no-text-wrap {
  white-space: nowrap;
}
.wrap-text {
  white-space: normal !important;
}
ul {
  padding-inline-start: 24px;
  li {
    line-height: 150%;
  }
}
