/* Typography Utility Classes */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.medium-text {
  font-size: var(--size-xlg);
  line-height: 1.5;
}
.small-text,
.small-text * {
  font-size: 0.9rem !important;
  line-height: 1.5;
}
.x-small-text,
.x-small-text * {
  font-size: 0.8rem !important;
  line-height: 1.25;
}
.no-text-wrap {
  white-space: nowrap;
}
.wrap-text {
  white-space: normal !important;
}

/* Back to Top */
.back-to-top {
  transform: rotate(90deg);
  position: fixed;
  bottom: var(--size-xxlg);
  right: var(--size-xxlg);
  font-size: var(--size-xxlg);
  border-radius: 100%;
  animation: bounce 1s infinite;
  a {
    display: block;
    padding: 0.25em 0.5em;
    background: #eee;
  }
}

/* Show/Hide */
[data-visibility="show"]{
  visibility: visible;
}
[data-visibility="hide"]{
  visibility: hidden;
  display: none !important;
}

/* Generic Disabled */
[data-disabled="true"]{
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

/* Modals */
.modal {
  color: #444444;
  position: absolute;
  top: 10%;
  left: calc(50% - 25vw);
  width: 50vw;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 40%);
  padding: var(--size-xxlg);
  z-index:999;
  white-space: pre-wrap;
  &.narrow {
    width: 600px;
    left: calc(50% - 300px);
  }
  button{
    &:not([disabled]):hover {
      color: var(--primary-color) !important;
    }
  }
  @media screen and (max-width: 700px){
    top: unset;
    left: 0;
    right: 0;
    margin: -50vh 5%;
    width: 90%;
  }
}

.modal-backdrop {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: rgb(0 0 0 / 65%);
}

.modal-backdrop:hover {
  pointer-events: none !important;
  cursor: pointer !important;
}

/* Form Elements */
.number-select {
  cursor: pointer;

  div[class$="-menu"],
  div[class$="-menu"] * {
    cursor: pointer !important;
  }
  div[class$="-ValueContainer"],
  div[class$="-ValueContainer"] * {
    cursor: text !important;
  }
}

// Placeholders
div[class$="-placeholder"] {
  color: #444444;
}
div[class$="-control"] {
  border-color: #444444;
  border-radius: 0;
  cursor: pointer !important;
}
div[class$="-indicatorContainer"] svg {
  fill: #444444;
}

/* Slider */
.rc-slider {
  position: relative;
  touch-action: none;
  max-width: 300px;
  min-width: 200px;
  margin-top: 10px;

  .rc-slider-rail,
  .rc-slider-track {
    height: 10px;
    border-radius: 5px;
  }
  .rc-slider-track {
    position: absolute;
    top: 0;
    background: #ffffff;
    border: 1px solid var(--secondary-color);
  }
  .rc-slider-rail {
    background: var(--secondary-color);
  }
  .rc-slider-handle {
    cursor: grab;
    touch-action: pan-x;
    position: absolute;
    background: #00477a;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    width: 15px;
    height: 24px;
    margin-top: -16px;
  }
}

/* Selects */
.number-select {
  max-width: 250px;
  min-width: 175px;
  &.single {
    max-width: 150px;
    min-width: 125px;
  }
}

/* Toggles */
.toggle {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  padding: 0;
  outline: none;
  input {
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-appearance: none;
  }
  .toggle-span {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #011f37;
    color: #011f37;
    background: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
  }
  &.checked {
    .toggle-span {
      &:before {
        content: "\2713";
        text-align: center;
        width: 100%;
        display: block;
        font-size: 1.25rem;
        line-height: 1;
        position: relative;
      }
    }
  }
}

/* General Utility Classes */
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.vertical-align-middle {
  vertical-align: middle;
}
.hide { display: none; }
.show { display: block; }

/* Padding */
.padding {
  &-sm { padding: var(--size-sm); }
  &-md { padding: var(--size-md); }
  &-lg { padding: var(--size-lg); }
  &-xlg { padding: var(--size-xlg); }
  &-xxlg { padding: var(--size-xxlg); }
  &-top {
    &-sm { padding-top: var(--size-sm); }
    &-md { padding-top: var(--size-md); }
    &-lg { padding-top: var(--size-lg); }
    &-xlg { padding-top: var(--size-xlg); }
    &-xxlg { padding-top: var(--size-xxlg); }
  }
  &-bottom {
    &-sm { padding-bottom: var(--size-sm); }
    &-md { padding-bottom: var(--size-md); }
    &-lg { padding-bottom: var(--size-lg); }
    &-xlg { padding-bottom: var(--size-xlg); }
    &-xxlg { padding-bottom: var(--size-xxlg); }
  }
  &-left {
    &-sm { padding-left: var(--size-sm); }
    &-md { padding-left: var(--size-md); }
    &-lg { padding-left: var(--size-lg); }
    &-xlg { padding-left: var(--size-xlg); }
    &-xxlg { padding-left: var(--size-xxlg); }
  }
  &-right {
    &-sm { padding-right: var(--size-sm); }
    &-md { padding-right: var(--size-md); }
    &-lg { padding-right: var(--size-lg); }
    &-xlg { padding-right: var(--size-xlg); }
    &-xxlg { padding-right: var(--size-xxlg); }
  }
  &-horizontal {
    &-sm { padding-left: var(--size-sm); padding-right: var(--size-sm); }
    &-md { padding-left: var(--size-md); padding-right: var(--size-md); }
    &-lg { padding-left: var(--size-lg); padding-right: var(--size-lg); }
    &-xlg { padding-left: var(--size-xlg); padding-right: var(--size-xlg); }
    &-xxlg { padding-left: var(--size-xxlg); padding-right: var(--size-xxlg); }
  }
  &-vertical {
    &-sm { padding-top: var(--size-sm); padding-bottom: var(--size-sm); }
    &-md { padding-top: var(--size-md); padding-bottom: var(--size-md); }
    &-lg { padding-top: var(--size-lg); padding-bottom: var(--size-lg); }
    &-xlg { padding-top: var(--size-xlg); padding-bottom: var(--size-xlg); }
    &-xxlg { padding-top: var(--size-xxlg); padding-bottom: var(--size-xxlg); }
  }
}

/* Margins */
.no-margin { margin: 0; }
.margin {
  &-sm { margin: var(--size-sm); }
  &-md { margin: var(--size-md); }
  &-lg { margin: var(--size-lg); }
  &-xlg { margin: var(--size-xlg); }
  &-xxlg { margin: var(--size-xxlg); }
  &-top {
    &-none { margin-top: 0;}
    &-sm { margin-top: var(--size-sm); }
    &-md { margin-top: var(--size-md); }
    &-lg { margin-top: var(--size-lg); }
    &-xlg { margin-top: var(--size-xlg); }
    &-xxlg { margin-top: var(--size-xxlg); }
  }
  &-bottom {
    &-none { margin-bottom: 0;}
    &-sm { margin-bottom: var(--size-sm); }
    &-md { margin-bottom: var(--size-md); }
    &-lg { margin-bottom: var(--size-lg); }
    &-xlg { margin-bottom: var(--size-xlg); }
    &-xxlg { margin-bottom: var(--size-xxlg); }
  }
  &-left {
    &-none { margin-left: 0;}
    &-sm { margin-left: var(--size-sm); }
    &-md { margin-left: var(--size-md); }
    &-lg { margin-left: var(--size-lg); }
    &-xlg { margin-left: var(--size-xlg); }
    &-xxlg { margin-left: var(--size-xxlg); }
  }
  &-right {
    &-none { margin-right: 0;}
    &-sm { margin-right: var(--size-sm); }
    &-md { margin-right: var(--size-md); }
    &-lg { margin-right: var(--size-lg); }
    &-xlg { margin-right: var(--size-xlg); }
    &-xxlg { margin-right: var(--size-xxlg); }
  }
  &-horizontal {
    &-none { margin-left: 0; margin-right: 0;}
    &-sm { margin-left: var(--size-sm); margin-right: var(--size-sm); }
    &-md { margin-left: var(--size-md); margin-right: var(--size-md); }
    &-lg { margin-left: var(--size-lg); margin-right: var(--size-lg); }
    &-xlg { margin-left: var(--size-xlg); margin-right: var(--size-xlg); }
    &-xxlg { margin-left: var(--size-xxlg); margin-right: var(--size-xxlg); }
  }
  &-vertical {
    &-none { margin-top: 0; margin-bottom: 0;}
    &-sm { margin-top: var(--size-sm); margin-bottom: var(--size-sm); }
    &-md { margin-top: var(--size-md); margin-bottom: var(--size-md); }
    &-lg { margin-top: var(--size-lg); margin-bottom: var(--size-lg); }
    &-xlg { margin-top: var(--size-xlg); margin-bottom: var(--size-xlg); }
    &-xxlg { margin-top: var(--size-xxlg); margin-bottom: var(--size-xxlg); }
  }
}

/* Mobile specific padding/margins */
@media screen and (max-width: 700px) {
  .mobile {
    &-no-margin { margin: 0; }
    &-no-horizontal-padding { padding-left: 0; padding-right: 0; }
    &-no-vertical-padding { padding-top: 0; padding-bottom: 0; }
  }
}