:root {
  /* -------- Colors ---------- */
  --primary-color: #00487b;
  --secondary-color: #1396d3;
  --near-black: #161616;
  --pale-gray: #efefef;
  --med-gray: #676767;
  --semi-dark-gray: #2d2d2d;
  --dark-gray: #222222;
  --off-white: #f8f8f8;
  --white: #ffffff;
  --black: #000000;

  --red: #db0202;
  --orange: #ffa500;
  --yellow: #fff700;
  --green: #00bd0d;
  --blue: #0033ff;
  --purple: #8000ff;
  --pink: #ffc0cb;
  --aqua: #00fbff;
  --brown: #573000;

  /* -------- Color Supports ------ */
  --primary-color-text: #ffffff;

  /* -------- Shadows ---------- */
  --big-shadow: 0px 0px 36px 0px #000000;
  --small-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);

  /* -------- Fonts -----------*/
  --condensed-font: "Roboto Condensed", sans-serif;
  --heading-font: "Roboto Condensed", sans-serif;
  --body-font: 'Roboto', sans-serif;
  --digital-font: "ZCOOL QingKe HuangYou", "Roboto Condensed", "Helvetica", cursive;

  /* -------- Release Notes -----------*/
  --release-color: #5cb3ee;
  --bugfix-color: #ff8b9f;

  /* -------- Transitions -----------*/
  --quick-transition: all ease 0.25s;
  --ease-transition: all ease 0.5s;

  /* Ball Colors */
  --ball-color-blue: #0000FF;
  --ball-color-green: #008000;
  --ball-color-white: #FFFFFF;
  --ball-color-red: #FF0000;
  --ball-color-yellow: #f7bd00;
  --ball-color-inner: #ffffff;
  --ball-color-text: #222222;

  /* Sizes */
  --size-sm: .25rem;
  --size-md: .5rem;
  --size-lg: .75rem;
  --size-xlg: 1rem;
  --size-xxlg: 2rem;

  /* Links */
  --primary-link-color: #00487b;
  --primary-link-hover: #222222;
  --primary-link-border: 2px solid#1396d3;
  --secondary-link-color: #1396d3;
  --secondary-link-hover: #ffffff;
  --secondary-link-border: 2px solid #ffffff;

  /* Buttons */
  --standard-button-text-only: #ffffff;
  --standard-button-text-only-hover: #1396d3;
  --standard-button-background: transparent;
  --standard-button-text: #ffffff;
  --standard-button-border: 1px solid #ffffff;
  --standard-button-hover-background: transparent;
  --standard-button-hover-border: 1px solid #ffffff;
  --standard-button-hover-text: #222222;
  --standard-button-disabled-background: transparent !important;
  --standard-button-disabled-border: 1px solid #5e5e5e !important;
  --standard-button-disabled-text: #5e5e5e !important;
  --standard-button-shadow: 0 0 5px 3px none;
  --standard-button-hover-shadow: 0 0 5px 3px #ffffff;

  --primary-button-text-only: #1396d3;
  --primary-button-text-hover: #00487b;
  --primary-button-background: #1396d3;
  --primary-button-border: 1px solid #1396d3;
  --primary-button-text: #ffffff;
  --primary-button-hover-background: transparent;
  --primary-button-hover-border: 1px solid #1396d3;
  --primary-button-hover-text: #1396d3;
  --primary-button-disabled-background: transparent !important;
  --primary-button-disabled-border: 1px solid #5e5e5e !important;
  --primary-button-disabled-text: #5e5e5e !important;
  --primary-button-shadow: none;
  --primary-button-hover-shadow: 0 0 5px 3px #1396d3;

  --secondary-button-text-only: #00487b;
  --secondary-button-text-hover: #1396d3;
  --secondary-button-background: #00487b;
  --secondary-button-border: 1px solid #00487b;
  --secondary-button-text: #ffffff;
  --secondary-button-hover-background: transparent;
  --secondary-button-hover-border: 1px solid #00487b;
  --secondary-button-hover-text: #00487b;
  --secondary-button-disabled-background: transparent !important;
  --secondary-button-disabled-border: 1px solid #5e5e5e !important;
  --secondary-button-disabled-text: #5e5e5e !important;
  --secondary-button-shadow: none;
  --secondary-button-hover-shadow: 0 0 5px 3px #00487b;

  --button-border-radius: 4px;
}