* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#bingoboard {
  background: #222;
  display: table;
  margin: 0 auto;
  width: 800px;
  max-width: 100vw;
}
.board-row {
  display: table-row;
}
.letter, .ball {
  display: table-cell;
  text-align: center;
  color: #444444;
  line-height: 2;
}
.letter {
  background: red;
  font-weight: bold;
  color: white;
  width: 2rem;
}
.called.ball:not(.active) {
  color: white;
}
.active.ball {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { color: white; }
  50% { color: #444; }
  100% { color: white; }
}

#buttons {
    margin: 2rem auto;
    text-align: center;
}
button {
  border: 0;
  background: #00BCD4;
  font-size: 1rem;
  padding: 0.5em 1em;
  color: white;
  text-transform: uppercase;
}
button:active {
    outline: none;
}
button:hover {
    cursor: pointer;
}