* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#bingoboard {
  background: #222;
}
.board-row {
  display: block;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}
.letter, .ball {
  display: inline-block;
  width: 1em;
  margin: 0.5em;
  text-align: center;
  color: #444444;
}
.called.ball {
  color: white;
}
.letter {
  color: red;
  font-weight: bold;
}