* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* Header */
header {
    padding: 1rem;
}
header div {
    display: inline-block;
    vertical-align: top;
}
header img {
    width: 10rem;
    height: auto;
    max-width: 100%;
}

/* Layout */

.display-table {
    display: table;
    width: 100%;
    white-space: nowrap;
}

/* Pattern */

#bingopattern {
    text-align: center;
    width: 200px;
    max-width: 100%;
}

.pattern-col {
    display: inline-block;
    width: 1.75em;
    vertical-align: top;
    text-align: center;
}
.pattern-letter {
    background: #E53935;
    color: white;
    line-height: 1.75em;
}
.pattern-slot {
    border: 1px solid #efefef;
    width: 1.75em;
    height: 1.75em;
    padding: 10%;
}
.pattern-slot.selected:after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #ffcd00;
    color: #ffcd00;
    display: block;
    border-radius: 100%;
    text-align: center;
}

/* Board */

#bingoboard {
    background: #222;
    font-size: 1.5rem; /* fallback */
    font-size: 2vw;
}

.board-row {
    display: table-row;
}

.letter, .ball {
    display: table-cell;
    text-align: center;
    color: #444444;
    line-height: 1.75;
    line-height: 3vw;
}

.letter {
    background: #E53935;
    color: white;
    padding: 0.25em;
    padding: 0.25vw;
}

.called.ball:not(.active) {
    color: white;
}

.active.ball {
    animation: blink 1s infinite;
}

/* Animations */

@keyframes blink {
    0% {
        color: white;
    }
    50% {
        color: #444;
    }
    100% {
        color: white;
    }
}

/* Buttons */

#buttons {
    background: #111;
    text-align: left;
    margin-bottom: 1rem;
}

button {
    margin: 0.5em;
    border: 0;
    background: #1496d4;
    font-size: 1rem;
    padding: 0.5em 1em;
    color: white;
    text-transform: uppercase;
}

button:active {
    outline: none;
}

button:hover {
    cursor: pointer;
}
